body {
    font-family: Arial, sans-serif;
    background-color: #deded7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    background-color: srgb(217, 220, 220);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(10, 199, 232, 0.798);
    background-color: aliceblue;
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: antiquewhite;
  }
  